# Dependencies
node_modules/
.pnpm-store/
.yarn/

# Build outputs
.next/
out/
dist/
build/

# Environment variables (Protect database credentials and secrets)
.env
.env.*
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database / Prisma
/backend/prisma/*.db
/backend/prisma/*.db-journal

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
